@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    background-color: var(--color-white);
}

#calendar {
    max-width: 1100px;
    margin: 3rem auto;
    background-color: #e6e6e1;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.377);
}

.calendario h1 {
    text-align: center;
    margin: 3rem 4rem;
    background-color: #e6e6e1;
    border-radius: 10px;
    padding: 1rem 0;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.377);
}

.calendario a {
    text-decoration: none;
    color: var(--color-black);
}