main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50rem;
    padding: 3rem 0;
    background-color: var(--color-primary);
}

.fim-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fim-cad-title {
    color: var(--color-white);
    font-size: 1.2rem;
    margin: 2rem 0;
}

.fim-cad-button {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-tertiary);
    padding: 0.8rem 1.2rem;
    border-radius: 15px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    cursor: pointer;
}