@charset "UTF-8";

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: var(--color-primary);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-image img {
    width: 70%;
}

.estude-facil {
    color: var(--color-white);
    font-size: 2rem;
}

.estude-facil span {
    color: var(--color-secundary);
}

aside {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside form {
    background-color: var(--color-secundary);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    width: 70%;
}

.form-title {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: var(--color-white);
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: var(--color-white);
    position: relative;
}

.input-box i {
    color: var(--color-primary);
    position: absolute;
    right: 5%;
    bottom: 23.5%;
    font-size: 1.5rem;
    cursor: pointer;
}

.input-box label {
    font-size: 1.1rem;
}

.input-box input {
    font-size: 1rem;
    width: 100%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.input-box input:focus-visible {
    background-color: #e6e6e6;
    outline: none;
}

.input-box input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.nao-possui-conta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nao-possui-conta a {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.3s all;
}

.nao-possui-conta a:hover {
    color: var(--color-primary);
}

.entrar-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.entrar-form-btn button {
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 15px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}

.entrar-form-btn button:hover {
    background-color: var(--color-tertiary);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .estude-facil {
        font-size: 1.5rem;
    }

    aside form {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    article {
        display: none;
    }

    aside,
    aside form {
        width: 100%;
    }
}