@charset "UTF-8";

body {
    background-color: var(--color-white);
}

.materia{
    display: flex;
    color: var(--color-white);
    justify-content: space-around;
    /* depois mudar para space between */
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 7rem;
}

#matematica {
    background-color: var(--color-primary);
}

#portugues {
    background-color: #143896;
}

#fisica {
    background-color: #961414;
}

#historia {
    background-color: #D18D08;
}

.materia img {
    width: 12rem;
}

.materia h1 {
    font-size: 3rem;
}

.invisible {
    visibility: hidden;
}

.prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.conheca {
    margin-bottom: 5rem;
}

.conheca h1 {
    font-size: 1.8rem;
}

.conheca span {
    color: var(--color-tertiary);
}

.card-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem 8rem;
    margin: 0 3rem;
    max-width: 1800px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    background-color: #D9D7CA;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.cards img {
    width: 100px;
    margin: 1rem 0 4rem;
}

.cards a {
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    cursor: pointer;
}

.cards a:hover {
    background-color: #0d6935;
}