@charset "UTF-8";

body {
    background-color: var(--color-white);
}

.banner {
    background-image: linear-gradient(to bottom, var(--color-primary) 0, var(--color-primary) 85%, var(--color-white) 15%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 15rem;
}

.banner figure img {
    width: 500px;
}

.banner section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner section h1 {
    font-size: 2.5rem;
    color: var(--color-white);
}

.cad-btn {
    width: 19.5rem;
    padding: 0.8rem 1.2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 15px;
    background-color: var(--color-secundary);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    cursor: pointer;
}

.cad-btn:hover {
    background-color: #456854;
}

.estude-casa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
}
.estude-casa section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estude-casa section h1 {
    font-size: 2.5rem;
}

.estude-casa section p {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2rem 2rem;
}

.estude-casa section span {
    color: var(--color-tertiary);
}

.cad-btn2 {
    width: 27.3rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 15px;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    cursor: pointer;
}

.cad-btn2:hover {
    background-color: #0d6935;
}

.cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
}

.escolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.escolha span {
    color: var(--color-tertiary);
}

.escolha figure img{
    width: 400px;
}

.card-cursos {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.card a {
    background-image: linear-gradient(to bottom, #0d6935 0, #0d6935 50%, #D9D7CA 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
}

.card a:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.507);
    transition: transform .3s;
}

#port {
    background-image: linear-gradient(to bottom, #143896 0, #143896 50%, #D9D7CA 50%);
}

#fis {
    background-image: linear-gradient(to bottom, #961414 0, #961414 50%, #D9D7CA 50%);
}

#hist {
    background-image: linear-gradient(to bottom, #D18D08 0, #D18D08 50%, #D9D7CA 50%);
}

.card img {
    width: 50px;
}

.card strong {
    padding: 1rem;
    font-size: 1.2rem;
}

.vire-prof {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 15rem;
}

.vire-prof figure img {
    width: 400px;
}

.vire-prof section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 40%;
}

.vire-prof section h1 {
    font-size: 2.5rem;
    margin: 3rem 0 1.2rem;
}

.vire-prof section h1 span {
    color: var(--color-tertiary);
}

.vire-prof section p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    text-align: center;
}

.cad-btn3 {
    width: 18rem;
}

@media screen and (max-width: 1225px) {
    .card-cursos {
        gap: 4rem;
    }

    .vire-prof h1 {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .banner figure img {
        width: 300px;
    }
    
    .card-cursos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .estude-casa section p {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .banner, .estude-casa, .cursos {
        margin-bottom: 8rem;
    }

    .banner figure img,
    .escolha figure img,
    .vire-prof figure img {
        width: 200px;
    }

    .banner section h1 {
        font-size: 2rem;
    }

    .cad-btn {
        margin-top: 1rem;
    }

    .card a {
        width: 18rem;
    }

    .estude-casa section h1 {
        font-size: 2rem;
        text-align: center;
        margin: 0 2rem;
    }

    .escolha h1 {
        font-size: 1.8rem;
        margin: 0 2rem;
        text-align: center;
    }

    .vire-prof {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .vire-prof section {
        width: 100%;
    }

    .vire-prof section p {
        margin: 0 2rem 1.2rem;
    }
}

@media screen and (max-width: 515px) {
    .banner {
        background-image: linear-gradient(to bottom, var(--color-primary) 0, var(--color-primary) 85%, var(--color-white) 15%);
        padding-bottom: 3rem;
        flex-direction: column-reverse;
    }

    .banner figure {
        margin-top: 2rem;
    }

    .banner section h1 {
        font-size: 2rem;
    }
    
    .cad-btn {
        width: 14rem;
    }

    .cad-btn2 {
        width: 22rem;
    }

    .card-cursos {
        gap: 2rem;
    }

    .card a {
        width: 23rem;
    }
}