@charset "UTF-8";

.container-relatorio {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.relatorio-box,
.relatorio-box-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D7CA;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    margin: 3rem 0 8rem;
}

.relatorio-box {
    width: 1200px;
}

.relatorio-box-big {
    width: fit-content;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-roll-y {
    max-height: 1000px;
    overflow-y: auto;
}

.table-roll-x {
    overflow-x: auto;
    width: 100%;
}

td {
    text-align: center;
    border-top: 1px solid black;
    padding: 3px;
}

.td-espaco {
    padding: 10px;
}

tr:nth-child(2n-2),
#cabecalho-relatorio {
    background-color: #b6b4a9;
}

@media screen and (max-width: 1360px) {
    .relatorio-box-big,
    .relatorio-box {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}