@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Imbue:wght@700&family=Jacques+Francoisdisplay=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #053c1c;
    --color-secundary: #6ca484;
    --color-tertiary: #678473;
    --color-black: #000;
    --color-white: #f2f4f3;
}

body {
    background-color: var(--color-white);
    height: 100vh;
    width: 100%;
}

header {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header img {
    width: 80px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.logo a,
.logo-footer a {
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Jacques Francois', serif;
}

.navegar {
    display: flex;
    gap: 10px;
}

.navegar a,
.navegar-footer a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px;
}

.navegar a:hover,
.navegar-footer a:hover {
    color: var(--color-secundary);
    transition: .3s;
}

#button-nav {
    background-color: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.300);
    margin: 0px 5px;
    padding: 10px 15px;
}

#button-nav:hover {
    background-color: var(--color-tertiary);
    color: var(--color-white);
    transition: .3s;
}


#rodape {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#rodape img {
    width: 150px;
    margin-top: 20px;
}

#rodape .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.navegar-footer {
    display: flex;
    flex-direction: column;
}

.form-footer {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}